* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header_inner {
  width: 90%;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header_inner img {
  width: 150px;
  height: 80px;
}
.header_inner nav {
  width: 70%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
}
.header_inner nav span {
  margin: 0 15px;
  font-size: 1.2em;
}
